.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.appContent {
    flex: 1;
    padding: 8px 50px;
}

.appFooter {
    text-align: center;
}

.footerWord {
    margin: 0px 5px;
}